header.page-header
  .container.page-header__container
    h1.visually-hidden Сайт компании Space
    a.page-header__logo(href="")
      +icon-multi("logo")(width="120", height="30", alt="Логотип компании Space")
    .page-header__contacts
      a.page-header__phone(href="tel:88000000000")
        span 8 800 000 00 00
        +icon-mono("phone")(width="22", height="22")
      a.page-header__email(href="mailto:sales@logo.ru")
        span sales@logo.ru
        +icon-mono("mail")(width="22", height="22")
