section.carousel
  h2.visually-hidden Карусель со статьями
  ul.carousel__list
    li.carousel__item
      h3.carousel__item-heading Как бизнесу сохранять IT&#8209;кадры на&nbsp;фоне кризиса
      p.carousel__item-description Инструменты, которые могут использовать компании для&nbsp;удержания сотрудников
      a.carousel__more-button(href="#") Подробнее
  .carousel__pagination
    span.carousel__dot
    span.carousel__dot
    span.carousel__dot
section.articles
  h2.visually-hidden Список статей
  .container
    .filters
      .filters__input-wrapper.filters__input-wrapper--author
        select.filters__input-author(id="author", name="author", required)
          option.filters__author-option(value="") Выбор автора
          option.filters__author-option Автор 1
        label.filters__label(for="author") Выбор автора
      .filters__input-group
        .filters__input-wrapper
          input.filters__input-date-from(id="date-from", name="date-from", type="date", placeholder="От", required)
          label.filters__label(for="date-from") От
        span.filters__input-separator
        .filters__input-wrapper
          input.filters__input-date-to(id="date-to", name="date-to", type="date", required)
          label.filters__label(for="date-to") До
