section.carousel
  h2.visually-hidden Карусель со статьями
  ul.carousel__list
    li.carousel__item
      h3.carousel__item-heading Как бизнесу сохранять IT&#8209;кадры на&nbsp;фоне кризиса
      p.carousel__item-description Инструменты, которые могут использовать компании для&nbsp;удержания сотрудников
      a.carousel__more-button(href="#") Подробнее
    li.carousel__item
      h3.carousel__item-heading Как бизнесу сохранять IT&#8209;кадры на&nbsp;фоне кризиса
      p.carousel__item-description Инструменты, которые могут использовать компании для&nbsp;удержания сотрудников
      a.carousel__more-button(href="#") Подробнее
    li.carousel__item
      h3.carousel__item-heading Как бизнесу сохранять IT&#8209;кадры на&nbsp;фоне кризиса
      p.carousel__item-description Инструменты, которые могут использовать компании для&nbsp;удержания сотрудников
      a.carousel__more-button(href="#") Подробнее
section.articles
  h2.visually-hidden Список статей
  .container
    .filters
      .filters__wrapper
        .filters__input-wrapper.filters__input-wrapper--author
          select.filters__input-author(id="author", name="author", required)
            option.filters__author-option(value="") Все авторы
          label.filters__label(for="author") Выбор автора
        .filters__input-group
          .filters__input-wrapper
            input.filters__input-date-from(id="date-from", name="date-from", type="date", required)
            label.filters__label(for="date-from") От
          span.filters__input-separator
          .filters__input-wrapper
            input.filters__input-date-to(id="date-to", name="date-to", type="date", required)
            label.filters__label(for="date-to") До
    ul.articles__list
      li.articles__list-item.article
        time.article__date(datetime="2022-12-05T21:00:00.000Z") 12 июня 2022
        a.article__link(href="#")
          h3.article__heading Заголовок статьи
        p.article__description Краткое описание статьи или ее начало. Может занимать больше трех строк в высоту. В таком случае предложение заканчивается многоточием...
        span.article__author Иван Иванов
      li.articles__list-item.article
        time.article__date(datetime="2022-12-05T21:00:00.000Z") 12 июня 2022
        a.article__link(href="#")
          h3.article__heading Заголовок статьи
        p.article__description Краткое описание статьи или ее начало. Может занимать больше трех строк в высоту. В таком случае предложение заканчивается многоточием...
        span.article__author Иван Иванов
      li.articles__list-item.article
        time.article__date(datetime="2022-12-05T21:00:00.000Z") 12 июня 2022
        a.article__link(href="#")
          h3.article__heading Заголовок статьи
        p.article__description Краткое описание статьи или ее начало. Может занимать больше трех строк в высоту. В таком случае предложение заканчивается многоточием...
        span.article__author Иван Иванов
      li.articles__list-item.article
        time.article__date(datetime="2022-12-05T21:00:00.000Z") 12 июня 2022
        a.article__link(href="#")
          h3.article__heading Заголовок статьи
        p.article__description Краткое описание статьи или ее начало. Может занимать больше трех строк в высоту. В таком случае предложение заканчивается многоточием...
        span.article__author Иван Иванов
      li.articles__list-item.article
        time.article__date(datetime="2022-12-05T21:00:00.000Z") 12 июня 2022
        a.article__link(href="#")
          h3.article__heading Заголовок статьи
        p.article__description Краткое описание статьи или ее начало. Может занимать больше трех строк в высоту. В таком случае предложение заканчивается многоточием...
        span.article__author Иван Иванов
      li.articles__list-item.article
        time.article__date(datetime="2022-12-05T21:00:00.000Z") 12 июня 2022
        a.article__link(href="#")
          h3.article__heading Заголовок статьи
        p.article__description Краткое описание статьи или ее начало. Может занимать больше трех строк в высоту. В таком случае предложение заканчивается многоточием...
        span.article__author Иван Иванов
