section.carousel
  h2.visually-hidden Карусель со статьями
  ul.carousel__list
    li.carousel__item
      h3.carousel__item-heading Как бизнесу сохранять IT&#8209;кадры на&nbsp;фоне кризиса
      p.carousel__item-description Инструменты, которые могут использовать компании для&nbsp;удержания сотрудников
      a.carousel__more-button(href="#") Подробнее
  .carousel__pagination
    span.carousel__dot
    span.carousel__dot
    span.carousel__dot

