include ../data/config.pug
include ../components/**/*.pug

block variables

doctype html
html(lang="ru")
  head
    include ../blocks/head.pug
  body(class=bodyClass)
    block header
      include ../blocks/header.pug

    block content

    block footer
      include ../blocks/footer.pug

    block scripts
      script(src="scripts/bundle.js?v=" + siteVersion)
