@mixin focus-visible {
  @if (&) {
    .js-focus-visible &:focus:not(.focus-visible) {
      @content;
    }
  }

  @else {
    .js-focus-visible :focus:not(.focus-visible) {
      outline: none;
    }
  }
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		/* stylelint-disable-next-line function-url-quotes */
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
    font-weight: $weight;
		font-family: quote($name);
		font-style: $style;
		src: $src;
		font-display: swap;
	}
}
