$font-family: 'Montserrat', 'Arial', sans-serif;

$color-text-base: #888;
$color-bg-base: #F6F9FF;
$color-white: #FFF;

$color-text-button: #0050EF;
$color-date: #10B2D0;
$color-heading: rgba(0 0 0 / 65%);
$color-bg-button: rgba(0 80 239 / 6%);
$color-bg-footer: #011846;
$color-copyright: rgba(255 255 255 / 80%);

$gradient-carousel-main: linear-gradient(100.68deg, #5991FF 13.6%, #0050EF 94.69%);
